#header {
    box-shadow: 0px 0px 10px 10px aquamarine;
    z-index: 10;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    float:left;
    text-align: center;
}